<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jalen.jo" >

    <!-- 申请网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 申请相机使用权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--SD卡访问权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 申明所需要的设备功能 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".JoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jalen.jo.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SigninActivity"
            android:label="@string/title_activity_signin"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jalen.jo.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AccountEditActivity"
            android:label="@string/title_activity_account_edit"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jalen.jo.activities.MainActivity" />
        </activity>
        <activity
            android:name=".scan.CaptureActivity"
            android:label="@string/title_activity_capture"
            android:theme="@style/CaptureActivityTheme" >
        </activity>
        <activity
            android:name=".scan.CapturePreferencesActivity"
            android:label="@string/title_activity_capture_settings"
            android:parentActivityName=".scan.CaptureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jalen.jo.scan.CaptureActivity" />
        </activity>
        <activity
            android:name=".activities.BookInfoActivity"
            android:label="@string/title_activity_book_info"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jalen.jo.activities.MainActivity" />
        </activity>
    </application>

</manifest>
